
body, html {
  height: 100%;
}

body {
  	background-color:#f7f7f7;
  	background-size:cover;
  	min-height: 100vh;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}


.header {
  background: url(/img/fondo.png) no-repeat center;
  background-size: cover;
  min-height: 10vh;
}

.header .navbar{
	background-color: rgba(255,255,255,0.) !important;
}
.carousel-inner img {
  margin: auto;
}
.warning {
  border-color: #f58b57;
  color: orange;
}

.warning:hover {
  background: #f58b57;
  color: white;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}
.fa-google-plus-g{
	color: #dd4b39;
}
.fa-instagram{
	color: #517fa8;
}
.fa-youtube{
	color: #bb0000;
}

@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

.social a{
	font-size: 4.5em;
	padding: 4rem;
}

footer{
	background-color: #3f3f3f;
	color:#d5d5d5;
	padding-top: 2rem;
}

hr.light{
	border-top: 1px solid #d5d5d5;
	width:75%;
}

.padding{
	padding-bottom: 2rem;
}

.welcome{
	width: 75%;
	margin:0 auto;
	padding-top:2rem;
}

.main-form{
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.textwelcome{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.parrafo{
	padding-left: 7rem;
}